{
  "env": {
    "commonjs": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "standard"
  ],
  "overrides": [
    {
      "files": ["*.test.js", "*.spec.js"],
      "rules": {
        "no-unused-vars": "off",
        "no-unused-expressions": "off"
      }
    }
  ],
  "rules": {
    "semi": 0
  }
}
